# ─── Output ─────
output/
target/
build/

# ─── Operating Systems ─────
# macOS
.DS_Store

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# Linux
*~

# ─── IDEs & Editors ────
# JetBrains
.idea/
*.iml
*.iws
*.ipr
out/

# Visual Studio Code
.vscode/
*.code-workspace

# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.rsuser

# ─── ABAP / ADT ────

# ADT local project metadata
.settings/
.project
.classpath

# Log file
*.log